# EditorConfig is awesome: https://EditorConfig.org

# top-most EditorConfig file
root = true

# Unix-style newlines with a newline ending every file
# Use UTF-8 by default
[*]
indent_style = space
indent_size = 4
end_of_line = lf
charset = utf-8
insert_final_newline = true
trim_trailing_whitespace = true

[_*]
indent_style = space
indent_size = 2
tab_width = 2
end_of_line = LF

[.gitignore]
indent_style = unset
indent_size = unset
end_of_line = unset
insert_final_newline = unset
trim_trailing_whitespace = unset

# Use 4 spaces for indentation in Markdown files
[*.md]
indent_style = unset
indent_size = unset
insert_final_newline = unset
trim_trailing_whitespace = unset

[*.{yml,yaml}]
indent_style = space
indent_size = 2
